@using BlazorWorker.Core
@using BlazorWorker.BackgroundServiceFactory

@page "/"
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject IJSInProcessRuntime jsProcessRuntime
@inject WebAssemblyJSRuntime webAssemblyJSRuntime
@inject IWorkerFactory workerFactory

<label>WAD url (shareware wad used by default)</label>
<input type="text" @bind="wadUrl" />

<button class="btn btn-secondary" @onclick="@StartGame">Start game</button>

<canvas id="canvas" Width="320" Height="320" style="width:100%; height:auto; image-rendering: pixelated;"></canvas>


@code {
    static ManagedDoom.DoomApplication app = null;

    private string wadUrl = "./doom1.wad";

    bool calledAfterRender = false;

    static float framesPerSecond;

    private string[] args = { };
    private string[] configLines = { };

    static IWorker worker;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await StartGame();
    }

    private async Task StartGame()
    {
        Console.WriteLine(wadUrl);
        app = null;
        if (worker == null)
        {
            worker = await workerFactory.CreateAsync();
        }
        var stream = await Http.GetStreamAsync(wadUrl);
        var commandLineArgs = new ManagedDoom.CommandLineArgs(args);
        app = new ManagedDoom.DoomApplication(commandLineArgs, configLines, Http,
            stream, jsRuntime, jsProcessRuntime, webAssemblyJSRuntime, wadUrl);
        jsProcessRuntime.InvokeVoid("gameLoop");
    }

    [JSInvokable("GameLoop")]
    public static void GameLoop(uint[] downKeys, uint[] upKeys)
    {
        if (app == null)
        {
            return;
        }


        //var watch = System.Diagnostics.Stopwatch.StartNew();
        //var bgService = await worker.CreateBackgroundServiceAsync<ManagedDoom.DoomApplication>();
        //await bgService.RunAsync(app => app.Run(downKeys, upKeys));
        app.Run(downKeys, upKeys);
        //watch.Stop();
        //Console.WriteLine($"fps {1000 / (float)(watch.ElapsedMilliseconds)}", );
    }

}