@inherits LayoutComponentBase

<div class="main">
    <div class="top-row">
        <button class="btn btn-primary" onclick="initAudioHelper();">Click to enable audio</button>
        Blazor Doom proof of concept
    </div>

    <div class="content">
        @Body
    </div>
</div>
